* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 24px;
  font-weight: 600;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}
#container {
  display: gird;
}
.card {
  padding: 16px 8px 8px 8px;
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  margin: 0 auto;
  display: block;

  cursor: pointer;
}
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
